<%= render partial: "shared/nav" %>

<h1> Characters of this Nation </h1>

<h3> Total Members: <%= @facade.count %> </h3>

<% @facade.first(25).each do |character| %>
  <ul class="member-list">
    <li>
      <h2> Name: <%= character.name %> </h2>
      <% if character.photoUrl.present? %>
        <%= image_tag character.photoUrl, alt: character.name %>
      <% end %>
      <p> Allies: <%= character.allies.any? ? character.allies.join(', ') : 'None' %> </p>
      <p> Enemies: <%= character.enemies.any? ? character.enemies.join(', ') : 'None' %> </p>
      <p>Affiliations: <%= character.affiliation %></p>    
    </li>
  </ul>
<% end %>